##CHAT_MAIN##
{
	background: gray;
	height: 100%;
	width: 100%;
	font-size: 20px;
	z-index: 0;
}

##CHAT_MAIN## .chat_channels_nav
{
	width: 100%;
	height: 25px;
	background: #424d50;
	background: linear-gradient(to bottom, #f0f0f0, #E6E6E6);
	position:absolute;
	z-index: 1;
}
##CHAT_MAIN## .chat_container
{
	height: 100%;
	overflow: auto;
	width: 100%;
	background: #f0f0f0;
}
##CHAT_MAIN## .chat_left
{
	margin-top: 1%;
	background: #fff;
	width: 98%;
	height: 97%;
	margin-left: 1%;
	box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.10);
	border-radius: 2px;
	float: left;
}
##CHAT_MAIN## .chat_userlist
{
	max-height: 100%;
	height: auto;
	overflow: auto;
	display: none;
	background: rgba(169,172,175,0.2);
	position: absolute;
	z-index: 1;
	border-radius: 10px;
	padding: 10px;
	right: 0px;
	top: 25px;
}
##CHAT_MAIN## .chat_element
{
	width: 100%;
	background: #f8f9f8;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 1px solid #d7dbdc;
	padding-bottom: 5px;
	font-size: 15px;
}
##CHAT_MAIN## .chat_element_head
{
	text-align: center;
	background: linear-gradient(to bottom, #f0f0f0, #E6E6E6);
	color: #222;
	text-shadow: 0px 0px 5px #fff;
	margin-bottom: 5px;
	font-size: 20px;
}
##CHAT_MAIN## .chat_conversation
{
	height: 92%;
	overflow: auto;
	word-wrap:break-word;
}
##CHAT_MAIN## .chat_user_input
{
	width: 100%;
	background: #eaeeef;
	height: 8%;
	padding-top: 10px;
	text-align: center;
}
##CHAT_MAIN## .chat_user_writing
{
	padding-left: 10px;
	font-size: 10px;
	color: black;
}
##CHAT_MAIN## .chat_message
{
	width: 95%; 
	padding:0px;
	margin: 0px;
	background:#fff; 
	border:1px solid #bbb;
	height: 80%;
}
##CHAT_MAIN## .chat_send_button
{
	height: 80%;
	width:20%; 
	margin-left:-20%; 
	padding:8px; 
	border:none;
	color:#fff;
	background: #1296bc;
	text-shadow:0px -1px 2px rgba(0,0,0,.7);
	cursor:pointer;
	border-radius:2px;
	font-size: 15px;
}
##CHAT_MAIN## .chat_channels_ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
##CHAT_MAIN## .chat_channels_ul li, .chat_add_channel
{
	float: left;
	text-align: center;
	padding-right: 10px;
	height: 25px;
	
}
##CHAT_MAIN## .chat_channels_ul li a, .chat_add_channel a, .chat_userlist_closed, .chat_userlist_opened
{
	height: 24px;
	line-height: 24px;
	font-size: 15px;
	display: block;
	text-decoration: none;
	background: linear-gradient(to bottom, #ebf0f1, #d5d9da);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: black;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-width: 1px;
	border-style: solid;
	border-color:  #d0d3d4;
	border-bottom: 0px;
}
##CHAT_MAIN## .chat_channels_ul .chat_channel_selected a
{
	background: #f0f0f0;
	border-color:  #c9ccd0;
}
##CHAT_MAIN## .chat_userlist_closed, .chat_userlist_opened
{
		float: right;
		cursor: pointer;
}
##CHAT_MAIN## .chat_userlist_opened
{
	background: #dee2e6;
	color: black;
}
##CHAT_MAIN## .chat_header
{
	float: left;
	color: gray;
	text-shadow: 0px 0px 5px #fff;
	line-height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid #c3c3c3;
	font-size: 15px;
}
/* Chat-Entries */
##CHAT_MAIN## .chat_entry_own, .chat_entry_others
{	
	padding: 3px;
	background: #f5faff;
	border-bottom: 1px solid #eaeaea;
	min-height: 30px;
	line-height: 30px;
}

##CHAT_MAIN## .chat_entry_user
{
	font-weight: bold;
	color: #225bb1;
	font-size: 16px;
}

##CHAT_MAIN## .chat_entry_message
{
	font-size: 15px;
}

##CHAT_MAIN## .chat_entry_date
{
	float: right;
	font-size: 12px;
	line-height: 20px;
	/*background: rgba(194,217,238,0.2);*/
	color: #81766c;
	border-radius: 2px;
	height: 20px;
	padding-top: 7px;
}

##CHAT_MAIN## .chat_entry_others
{
	background: #f5f5f5;
}

##CHAT_MAIN## .chat_entry_notify
{
	height: 20px;
	line-height: 20px;
	padding: 3px;
	background: #e1e1e1;
	border-bottom: 1px solid #eaeaea;
}

##CHAT_MAIN## .chat_entry_notify .chat_entry_user
{
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	color: #575757;
}

##CHAT_MAIN## .chat_entry_notify .chat_entry_message
{
	font-size: 13px;
	font-style: italic;
}

##CHAT_MAIN## .chat_entry_notify .chat_entry_date
{
	padding-top: 0px;
}
/*Chat user*/
##CHAT_MAIN## .chat_user
{
	width: 100%;
	background: #f0f0f0;
	font-size: 15px;
	border-top: 1px solid #d7dbdc;
	border-bottom: 1px solid #d7dbdc;
	margin-bottom: 5px;
	min-height: 40px;
	padding: 0 0px;
	transition: all 0.1s;
}
##CHAT_MAIN## .chat_user:hover
{
	padding: 10px 0px;
}
##CHAT_MAIN## .chat_user .chat_user_name
{
	background: #e8edee;
	text-shadow: 0px 0px 5px #fff;
	margin-bottom: 5px;
	font-weight: bold;
	color: #225bb1;
	font-size: 16px;
}
##CHAT_MAIN## .chat_user .chat_user_status
{
	float: right;
}

##CHAT_MAIN## .chat_user_info div
{
	width: 100%;
	padding-bottom: 5px;
}

/*chat notice */
##CHAT_MAIN## .chat_notice_msg div
{
	text-align: left;
	position:absolute;
	padding:10px;
	right: 0px; 
	bottom: 50px;
	color:#000;
	min-width: 180px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	box-shadow: 0px -1px 1px #000;
}
##CHAT_MAIN## .chat_notice_msg div:after
{
   content: "";
   display: block;
   position: absolute;
   bottom: -10px;
   left: 10px;
   width: 0;
   border-width: 10px 10px 0;
   border-style: solid;
}
##CHAT_MAIN## .chat_notice_msg .close_chat_information
{
  right: 0px;
  margin: 10px;
  top: 0px;
  position: absolute;
}
##CHAT_MAIN## .chat_notice_msg .chat_notice_info
{
  border: 2px solid #3e588c;
  background: #4b6aa9;
  background: linear-gradient(#6994ec 0%, #4b6aa9 100%);
}
##CHAT_MAIN## .chat_notice_msg .chat_notice_info:after
{
  border-color: #4b6aa9 transparent;
}
##CHAT_MAIN## .chat_notice_msg .chat_notice_error
{
  border: 2px solid #99724f;
  background: #d9a270;
  background: linear-gradient(#d9a270 0%, #a67c56 100%);
}
##CHAT_MAIN## .chat_notice_msg .chat_notice_error:after
{
  border-color: #a67c56 transparent;
}
##CHAT_MAIN## .chat_notice_msg .chat_notice_warn
{
  border: 2px solid #a0a162;
  background: #eced90;
  background: linear-gradient(#eced90 0%, #c2c376 100%);
}
##CHAT_MAIN## .chat_notice_msg .chat_notice_warn:after
{
  border-color: #c2c376 transparent;
}
##CHAT_MAIN## .chat_notice_msg .chat_notice_success
{
  border: 2px solid #57804d;
  background: #89c97a;
  background: linear-gradient(#89c97a 0%, #639158 100%);
}
##CHAT_MAIN## .chat_notice_msg .chat_notice_success:after
{
  border-color: #639158 transparent;
}