/* layout.css */

.chat_main
{
  height: 100%;
  width: 100%;
  background: rgb(53,106,160); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(53,106,160,1) 0%, rgba(53,106,160,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,106,160,1)), color-stop(100%,rgba(53,106,160,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* W3C */
}
.chat_top
{
  height: 5%;
  background: rgb(209,209,209); /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(209,209,209,1)), color-stop(100%,rgba(188,188,188,1))); /* Chrome,Safari4+ */
  background: linear-gradient(to bottom, rgba(209,209,209,1) 0%,rgba(188,188,188,1) 100%);
  text-align: center;
}
.chat_top ul
{
  height: 100%;
  list-style: none;
}
.chat_top li
{
  display: inline;
  margin-right: 5%;
  border-radius: 5px;
  padding: 0.5%;
  height: 100%;
}
.chat_top .chat_top_n, .chat_userlist_closed
{
  background: rgb(226,226,226); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
}
.chat_userlist_opened
{
  background: rgb(165,165,165); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(165,165,165,1) 0%, rgba(147,147,147,1) 50%, rgba(137,137,137,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(165,165,165,1)), color-stop(50%,rgba(147,147,147,1)), color-stop(51%,rgba(137,137,137,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(165,165,165,1) 0%,rgba(147,147,147,1) 50%,rgba(137,137,137,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(165,165,165,1) 0%,rgba(147,147,147,1) 50%,rgba(137,137,137,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(165,165,165,1) 0%,rgba(147,147,147,1) 50%,rgba(137,137,137,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(165,165,165,1) 0%,rgba(147,147,147,1) 50%,rgba(137,137,137,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
}
.chat_user
{
	border-bottom: 1px solid #747474;
	background: rgba(0,0,0,0.5);
	min-height: 50px;
	overflow: auto;
	padding: 5px;
	color: white;
}
.chat_userlist
{
  display: none;
  position: absolute;
  background: rgba(0,0,0,0.5);
  top: 5%;
  padding: 5px;
  border-radius: 5px;
}
.chat_user .chat_user_name
{
	font-size: 14pt;
	color: #fff;
	text-shadow: 0px 0px 2px #000;
}

.chat_user .chat_user_status
{
	float: right;
	text-shadow: none;
	font-size: 10pt;
	color: #5372a1;
	font-weight: bold;
}

.chat_user .chat_user_bottom ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.chat_user .chat_user_bottom ul li
{
	float: left;
}

.chat_conversation
{
  height: 90%;
  width: 100%;
  overflow: auto;
}
/* Chat-Entries */
.chat_entry_own
{
  padding:10px;
  right: 5px;
  color:#000;
  min-width: 180px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  position: relative;
  border: 2px solid #55859F;
  background: rgb(154,219,226); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(154,219,226,1) 0%, rgba(106,169,181,1) 44%, rgba(51,99,124,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(154,219,226,1)), color-stop(44%,rgba(106,169,181,1)), color-stop(100%,rgba(51,99,124,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(154,219,226,1) 0%,rgba(106,169,181,1) 44%,rgba(51,99,124,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(154,219,226,1) 0%,rgba(106,169,181,1) 44%,rgba(51,99,124,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(154,219,226,1) 0%,rgba(106,169,181,1) 44%,rgba(51,99,124,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(154,219,226,1) 0%,rgba(106,169,181,1) 44%,rgba(51,99,124,1) 100%); /* W3C */
  margin: 10px;
}
.chat_entry_own :after
{
   content: "";
   display: block;
   position: absolute;
   bottom: -10px;
   left: 10px;
   width: 0;
   border-width: 10px 10px 0px 10px;
   border-style: solid;
   border-color: #55859F transparent;
}

.chat_entry_others
{
  padding:10px;
  right: 5px;
  color:#000;
  min-width: 180px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  position: relative;
  border: 2px solid #91BC78;
  background: rgb(201,222,150); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,222,150,1)), color-stop(44%,rgba(138,182,107,1)), color-stop(100%,rgba(57,130,53,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C */
  margin: 10px;
}
.chat_entry_others :after
{
   content: "";
   display: block;
   position: absolute;
   bottom: -10px;
   right: 10px;
   width: 0;
   border-width: 10px 0px 0px 10px;
   border-style: solid;
   border-color: #91BC78 transparent;
}

.chat_entry_notify
{
  width: 80%;
  background: rgba(0,0,0,0.2);
  padding:4px;
}
.chat_entry_date
{
  float: right;
  padding-left: 20px;
}
.chat_entry_info
{
  color: #555;
}
.chat_entry_notify .chat_entry_info
{
  color: #333;
}

.chat_user_area
{
  width: 100%;
  height: 4.8%;
  min-height: 20px;
  bottom: 0px;
  position: absolute;
}
.chat_user_input
{
  width: 100%;
  height: 100%;
}

.chat_message
{
  float: left;
  width: 80%;
  height: 100%;
  box-shadow: inset 0px 1px 2px #747474;
  background: rgba(0,0,0,0.5);
  padding-left: 5px;
  font-size: 14pt;
  border: none;
  border-right: 1px solid #747474;
  color: white;
}

.chat_send_button
{
  width: 20%;
  height: 100%;
  border: none;
  cursor: pointer;
  font-size: 12pt;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  background: rgba(0,0,0,0.5);
}


.chat_notice_msg div
{
	position:absolute;
	padding:10px;
	right: 5px;
	bottom: 6.48%;
	color:#000;
	min-width: 180px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	box-shadow: 0px -1px 1px #000;
}
.chat_notice_msg div:after
{
   content: "";
   display: block;
   position: absolute;
   bottom: -10px;
   left: 10px;
   width: 0;
   border-width: 10px 10px 0;
   border-style: solid;
}
.chat_notice_msg .close_chat_information
{
  right: 0px;
  margin: 10px;
  top: 0px;
  position: absolute;
}
.chat_notice_msg .chat_notice_info
{
  border: 2px solid #3e588c;
  background: #4b6aa9;
  background: linear-gradient(#6994ec 0%, #4b6aa9 100%);
}
.chat_notice_msg .chat_notice_info:after
{
  border-color: #4b6aa9 transparent;
}
.chat_notice_msg .chat_notice_error
{
  border: 2px solid #99724f;
  background: #d9a270;
  background: linear-gradient(#d9a270 0%, #a67c56 100%);
}
.chat_notice_msg .chat_notice_error:after
{
  border-color: #a67c56 transparent;
}
.chat_notice_msg .chat_notice_warn
{
  border: 2px solid #a0a162;
  background: #eced90;
  background: linear-gradient(#eced90 0%, #c2c376 100%);
}
.chat_notice_msg .chat_notice_warn:after
{
  border-color: #c2c376 transparent;
}
.chat_notice_msg .chat_notice_success
{
  border: 2px solid #57804d;
  background: #89c97a;
  background: linear-gradient(#89c97a 0%, #639158 100%);
}
.chat_notice_msg .chat_notice_success:after
{
  border-color: #639158 transparent;
}