##CHAT_MAIN##
{
	background: gray;
	height: 100%;
	width: 100%;
	min-width: 850px;
	min-height: 200px;
	font-size: 20px;
	font-family: Arial;
}

##CHAT_MAIN## .chat_channels_nav
{
	width: 100%;
	height: 25px;
	background: #ebebeb;
	background: linear-gradient(to bottom, #f0f0f0, #E6E6E6);
}
##CHAT_MAIN## .chat_container
{
	height: calc(100% - 25px);
	overflow: auto;
	width: 100%;
	background: #f0f0f0;
}
##CHAT_MAIN## .chat_left
{
	margin-top: 20px;
	margin-right: 20px;
	background: #fff;
	width: 70%;
	height: calc(100% - 40px);
	margin-left: 20px;
	box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.10);
	border-radius: 2px;
	float: left;
}
##CHAT_MAIN## .chat_vr
{
	height: 100%;
	width: 1px;
	float: left;
	box-shadow: inset 0px 0px 186px 0px rgba(0,0,0,0.1);
}
##CHAT_MAIN## .chat_right
{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	float: left;
	height: calc(100% - 40px);
	width: calc(30% - 81px);
	overflow: auto;
}
##CHAT_MAIN## .chat_userlist
{
	height: 45%;
	overflow: auto;
}
##CHAT_MAIN## .chat_element
{
	width: calc(100% - 2px);
	background: #f8f9f8;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 1px solid #d7dbdc;
	padding-bottom: 5px;
	font-size: 15px;
}
##CHAT_MAIN## .chat_element_head
{
	text-align: left;
	padding-left: 8px;
	background: #ebebeb;
	background: linear-gradient(to bottom, #f0f0f0, #E6E6E6);
	color: #222;
	text-shadow: 0px 0px 5px #fff;
	margin-bottom: 5px;
	font-size: 20px;
}
##CHAT_MAIN## .chat_element_head img
{
	padding-right: 8px;
}
##CHAT_MAIN## .chat_element_head .chat_element_arrow
{
	width: 0;
	height: 0;
	border-style: solid;
	margin-top: 5px;
	margin-right: 2px;
	border-width: 10px 10px 0 10px;
	border-color: #c5c5c5 transparent transparent transparent;
	float: right;
	transition: all 0.5s;
}
##CHAT_MAIN## .chat_element_text
{
	overflow: hidden;
	transition: max-height 0.5s;
	max-height: 500px;
}
##CHAT_MAIN## .chat_debug .chat_element_text
{
	height: 20%;
}
##CHAT_MAIN## .chat_debug .chat_element_text
{
	overflow: auto;
	text-align: left;
}
##CHAT_MAIN## .chat_conversation
{
	height: calc(100% - 70px);
	overflow: auto;
	margin: 10px;
	word-wrap:break-word;
}
##CHAT_MAIN## .chat_user_input
{
	width: 100%;
	background: #e8edee;
	height: 45px;
	padding-top: 10px;
}
##CHAT_MAIN## .chat_message
{
	width: calc(100% - 20px); 
	/*padding:10px 90px 10px 10px;*/
	padding-left: 5px; 
	padding-right: 80px;
	margin-left: 5px;
	background:#fff; 
	border:1px solid #bbb;
	height: 35px;
}
##CHAT_MAIN## .chat_send_button
{
	height: 35px;
	width:80px; 
	margin-left:-87px; 
	padding:8px; 
	border:none;
	color:#fff;
	background: #1296bc;
	text-shadow:0px -1px 2px rgba(0,0,0,.7);
	cursor:pointer;
	border-radius:2px;
	font-size: 15px;
}
##CHAT_MAIN## .chat_channels_ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
##CHAT_MAIN## .chat_channels_ul li, ##CHAT_MAIN## .chat_add_channel
{
	float: left;
	text-align: center;
	padding-right: 10px;
	height: 25px;
}
##CHAT_MAIN## .chat_channels_ul li .chat_channel_span, ##CHAT_MAIN## .chat_add_channel a
{
	height: 24px;
	line-height: 24px;
	font-size: 15px;
	display: block;

	background:#e9e9e9;
	background: linear-gradient(to bottom, #e9e9e9, #d8d8d8);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-width: 1px;
	border-style: solid;
	border-color:  #d0d3d4;
	border-bottom: 0px;
	
	transition: all 0.2s;
}
##CHAT_MAIN## .chat_channels_nav img
{
	margin-top: 5px;
	float: left;
	margin-right: 5px;
}
##CHAT_MAIN## a:active
{
	outline: none;
}
##CHAT_MAIN## a:focus 
{
	outline: none;
}
##CHAT_MAIN## .chat_channels_ul li .chat_channel_span:hover, ##CHAT_MAIN##  .chat_add_channel a:hover
{
	box-shadow: inset -2px 4px 21px #f0f0f0;
}
##CHAT_MAIN## .chat_channels_ul li a, ##CHAT_MAIN## .chat_add_channel a
{
	color: black;
	text-decoration: none;
}
##CHAT_MAIN## .chat_channels_ul .chat_channel_selected .chat_channel_span
{
	background: #f0f0f0;
	border-color:  #c9ccd0;
}
##CHAT_MAIN## .chat_channels_ul .chat_channel_selected .chat_channel_span:hover
{
	box-shadow: none;
}
##CHAT_MAIN## .chat_channels_ul .chat_channel_unread .chat_channel_span
{
	background: #e4e8ad;
	animation: channel_anim 0.3s alternate;
	animation-iteration-count: 4;
	-webkit-animation: channel_anim 0.3s alternate;
	-webkit-animation-iteration-count: 4;
}
@keyframes channel_anim
{
	from { background: #ebf0f1; }
	to { background: #e4e8ad; }
}
@-webkit-keyframes channel_anim
{
from { background: #ebf0f1; }
to { background: #e4e8ad; }
}
##CHAT_MAIN## .chat_channels_ul .chat_channel_selected .chat_channel_span .chat_channel
{
	color: black;
	transition: all 5s;
}
##CHAT_MAIN## .chat_channels_ul li .chat_channel_close
{
	float: right;
	color: gray;
	margin-left: 5px;
	margin-top: 5px;
	height: 10px;
	font-size: 10px;
	line-height: 10px;
	padding: 2px;
	transition: all 0.3s;
}
##CHAT_MAIN## .chat_channels_ul li .chat_channel_close:hover
{
	background: rgba(18, 150,188, 0.5);
	border-radius: 50px;
	color: white;
}
##CHAT_MAIN## .chat_header
{
	float: left;
	color: gray;
	text-shadow: 0px 0px 5px #e1e1e1;
	line-height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid #c3c3c3;
	font-size: 15px;
}
/* Chat-Entries */
##CHAT_MAIN## .chat_entry_own, ##CHAT_MAIN## .chat_entry_others
{	
	padding: 3px;
	background: #f5faff;
	border-bottom: 1px solid #eaeaea;
	min-height: 30px;
	line-height: 30px;
}

##CHAT_MAIN## .chat_entry_user
{
	font-weight: bold;
	color: #225bb1;
	font-size: 16px;
	cursor: pointer;
}

##CHAT_MAIN## .chat_entry_message
{
	font-size: 15px;
}

##CHAT_MAIN## .chat_entry_date
{
	float: right;
	font-size: 12px;
	line-height: 20px;
	/*background: rgba(194,217,238,0.2);*/
	color: #81766c;
	border-radius: 2px;
	height: 20px;
	padding-top: 7px;
}

##CHAT_MAIN## .chat_entry_others
{
	background: #f5f5f5;
}

##CHAT_MAIN## .chat_entry_notify
{
	height: 20px;
	line-height: 20px;
	padding: 3px;
	background: #e1e1e1;
	border-bottom: 1px solid #eaeaea;
}

##CHAT_MAIN## .chat_entry_notify .chat_entry_user
{
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	color: #575757;
}

##CHAT_MAIN## .chat_entry_notify .chat_entry_message
{
	font-size: 13px;
	font-style: italic;
}

##CHAT_MAIN## .chat_entry_notify .chat_entry_date
{
	padding-top: 0px;
}
/*Chat user*/
/*##CHAT_MAIN## .chat_user
{
	background: #f0f0f0;
	min-height: 50px;
	overflow: auto;
	padding: 5px;
	margin-bottom: 5px;
}

##CHAT_MAIN## .chat_user .chat_user_name
{
	font-size: 20px;
	color: #fff;
	text-shadow: 0px 0px 2px #000;
}*/
##CHAT_MAIN## .chat_user
{
	background: #f0f0f0;
	font-size: 15px;
	border-top: 1px solid #d7dbdc;
	border-bottom: 1px solid #d7dbdc;
	margin-bottom: 5px;
	min-height: 40px;
	padding: 0 0px;
	transition: all 0.1s;
}
##CHAT_MAIN## .chat_user:hover
{
	padding: 10px 0px;
}
##CHAT_MAIN## .chat_user .chat_user_name
{
	background: #e8edee;
	text-shadow: 0px 0px 5px #fff;
	margin-bottom: 5px;
	font-weight: bold;
	color: #225bb1;
	font-size: 16px;
	padding: 0 5px;
}
##CHAT_MAIN## .chat_user .chat_user_status
{
	float: right;
	padding: 0 5px;
}

##CHAT_MAIN## .chat_user_info div
{
	padding: 0 5px 5px;
}


##CHAT_MAIN## .chat_user_afk .chat_user
{
	background:  #c7c7c7;
}
##CHAT_MAIN## .chat_user_afk .chat_user .chat_user_name
{
	background: #aab1b2;
	color: #8496b1;
}

/*chat notice */
##CHAT_MAIN## .chat_notice_msg div
{
	position:absolute;
	padding:10px;
	left: calc(70% - 60px);
	bottom: 50px;
	color:#000;
	min-width: 180px;
	border-radius:10px;
	box-shadow: 0px -1px 1px #000;
}
##CHAT_MAIN## .chat_notice_msg div:after
{
   content: "";
   display: block;
   position: absolute;
   bottom: -10px;
   left: 10px;
   width: 0;
   border-width: 10px 10px 0;
   border-style: solid;
}
##CHAT_MAIN## .chat_notice_msg .close_chat_information
{
  right: 0px;
  margin: 10px;
  top: 0px;
  position: absolute;
}
##CHAT_MAIN## .chat_notice_msg .chat_notice_info
{
	border: 2px solid #d5d9da;
	background: #f0f0f0;
  background: linear-gradient(to bottom, #f0f0f0, #E6E6E6);
}
##CHAT_MAIN## .chat_notice_msg .chat_notice_info:after
{
	border-color: #E6E6E6 transparent;
}
##CHAT_MAIN## .chat_notice_msg .chat_notice_error
{
  border: 2px solid #f0a6a6;
  background: #e8dcdc;
  background: linear-gradient(#e8dcdc 0%, #f0cccc 100%);
}
##CHAT_MAIN## .chat_notice_msg .chat_notice_error:after
{
	border-color: #f0cccc transparent;
}
##CHAT_MAIN## .chat_notice_msg .chat_notice_warn
{
  border: 2px solid #a0a162;
  background: #eced90;
  background: linear-gradient(#eced90 0%, #c2c376 100%);
}
##CHAT_MAIN## .chat_notice_msg .chat_notice_warn:after
{
  border-color: #c2c376 transparent;
}
##CHAT_MAIN## .chat_notice_msg .chat_notice_success
{
  border: 2px solid #57804d;
  background: #89c97a;
  background: linear-gradient(#89c97a 0%, #639158 100%);
}
##CHAT_MAIN## .chat_notice_msg .chat_notice_success:after
{
  border-color: #639158 transparent;
}