/* layout.css */

.chat_main
{
  border: 1px solid #747474;
}

.chat_left
{
  float: left;
  width: 19.9%;
  height: 100%;
  background: #e6e6e6;
  border-right: 1px solid #747474;
}

.chat_right
{
  float: left;
  width: 80%;
  height: 100%;
}

.chat_conversation
{
  width: 100%;
  height: 89%;
  background: #fff;
  overflow: auto;
}

/* Chat-Entries */

.chat_entry_own
{
	padding: 3px;
	background: #ecf1f7;
	border-bottom: 1px solid #000;
	min-height: 30px;
	line-height: 30px;
}

.chat_entry_own .chat_entry_user
{
	font-weight: bold;
	color: #225bb1;
	font-size: 12pt;
}

.chat_entry_own .chat_entry_message
{
	font-size: 11pt;
}

.chat_entry_own .chat_entry_date
{
	float: right;
	font-size: 10pt;
	color: #225bb1;
}

.chat_entry_others
{
	padding: 3px;
	background: #d2d2d2;
	border-bottom: 1px solid #747474;
	min-height: 30px;
	line-height: 30px;
}

.chat_entry_others .chat_entry_user
{
	font-weight: bold;
	color: #3a3a3a;
	font-size: 12pt;
}

.chat_entry_others .chat_entry_message
{
	font-size: 11pt;
}

.chat_entry_others .chat_entry_date
{
	float: right;
	font-size: 10pt;
	color: #3a3a3a;
}

.chat_notify
{
	height: 20px;
	line-height: 20px;
	padding: 3px;
	background: #b0b0b0;
	border-bottom: 1px solid #747474;
}

.chat_notify .chat_entry_user
{
	font-weight: bold;
	font-size: 12pt;
}

.chat_notify .chat_entry_message
{
	font-size: 11pt;
	font-style: italic;
}

.chat_notify .chat_entry_date
{
	float: right;
	font-size: 10pt;
}

.chat_user_area
{
  width: 100%;
  height: 10.8%;
  background: #cfcfcf;
  border-top: 1px solid #747474;
}

.chat_extra_bar
{
  width: 100%;
  height: 40%;
}

.chat_user_input
{
  border-top: 1px solid #747474;
  width: 100%;
  height: 60%;
}

.chat_message
{
  float: left;
  width: 90%;
  height: 100%;
  box-shadow: inset 0px 1px 2px #747474;
  background: #e3e3e3;
  padding-left: 5px;
  font-size: 14pt;
  border: none;
  border-right: 1px solid #747474;
}

.chat_send_button
{
  width: 10%;
  height: 100%;
  border: none;
  cursor: pointer;
  font-size: 12pt;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  background: #ddd;
}


.chat_notice_msg div
{
  position:absolute;
  padding:10px;
  right: 40px;
  bottom: 6.48%;
  color:#000;
  min-width: 180px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  
  /*box-shadow: 0px -1px 1px #000;
  
  needs editing
  
  */
}
.chat_notice_msg div:after
{
   content: "";
   display: block;
   position: absolute;
   bottom: -10px;
   left: 10px;
   width: 0;
   border-width: 10px 10px 0;
   border-style: solid;
}
.chat_notice_msg .close_chat_information
{
  right: 0px;
  margin: 10px;
  top: 0px;
  position: absolute;
}
.chat_notice_msg .chat_notice_info
{
  border: 2px solid #3e588c;
  background: #4b6aa9;
  background: linear-gradient(#6994ec 0%, #4b6aa9 100%);
}
.chat_notice_msg .chat_notice_info:after
{
  border-color: #4b6aa9 transparent;
}
.chat_notice_msg .chat_notice_error
{
  border: 2px solid #99724f;
  background: #d9a270;
  background: linear-gradient(#d9a270 0%, #a67c56 100%);
}
.chat_notice_msg .chat_notice_error:after
{
  border-color: #a67c56 transparent;
}
.chat_notice_msg .chat_notice_warn
{
  border: 2px solid #a0a162;
  background: #eced90;
  background: linear-gradient(#eced90 0%, #c2c376 100%);
}
.chat_notice_msg .chat_notice_warn:after
{
  border-color: #c2c376 transparent;
}
.chat_notice_msg .chat_notice_success
{
  border: 2px solid #57804d;
  background: #89c97a;
  background: linear-gradient(#89c97a 0%, #639158 100%);
}
.chat_notice_msg .chat_notice_success:after
{
  border-color: #639158 transparent;
}