/* layout.css */

.chat_main
{
  width: 100%;
  height: 100%;
  border: 1px solid #747474;
}

.chat_left
{
  float: left;
  width: 19.9%;
  height: 100%;
  background: #e6e6e6;
  border-right: 1px solid #747474;
}

.chat_right
{
  float: left;
  width: 80%;
  height: 100%;
}

.chat_conversation
{
  width: 100%;
  height: 89%;
  background: #fff;
  overflow: auto;
}

.chat_user_area
{
  width: 100%;
  height: 10.8%;
  background: #cfcfcf;
  border-top: 1px solid #747474;
}

.chat_extra_bar
{
  width: 100%;
  height: 40%;
}

.chat_user_input
{
  border-top: 1px solid #747474;
  width: 100%;
  height: 60%;
}

.chat_message
{
  float: left;
  width: 90%;
  height: 100%;
  box-shadow: inset 0px 1px 2px #747474;
  background: #e3e3e3;
  padding-left: 5px;
  font-size: 14pt;
  border: none;
  border-right: 1px solid #747474;
}

.chat_send_button
{
  width: 10%;
  height: 100%;
  border: none;
  cursor: pointer;
  font-size: 12pt;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}











